# Directories #
Obj
obj
Bin
bin
Lib
lib
Debug
debug
Release
release
Profile
profile
ipch
Docs/PDF

# Complied #
*.obj
*.o
*.exe
*.bin
*.a
*.lib
*.dll
*.so
*.pdf

# Build #
*.ncb
*.suo
*.user
*.sdf
*.opensdf
*.aps
*.pch
*.cachefile

# Temporary Vim #
*.swp
*.swo
*.swn
*.vim

# Temporary LaTeX
*.aux
*.toc
*.log

# Diffing temporary files #
*.orig

# Documentation #
*.~lock.*
*.docstates

# Git version header #
GitVersion.hpp
