# Directories #
Obj
obj
Bin
bin
Lib
lib
Debug
debug
Release
release
Profile
profile
ipch

# Complied #
*.obj
*.o
*.exe
*.bin
*.a
*.lib
*.dll
*.so

# Build #
*.ncb
*.suo
*.user
*.sdf
*.opensdf
*.aps
*.pch
*.cachefile

# Temporary Vim #
*.swp
*.swo
*.swn
*.vim

# Diffing temporary files #
*.orig

# Documentation #
*.~lock.*
*.docstates
*.ps
Docs/PS

# Git version header #
GitVersion.hpp
